:root {
  --text-color: #757575;
  --tittle-text-color: #212121;
  --alt-text-color: #2196f3;
  --background-color: #ffffff;
  --alt-background-color: #f5f4fa;
  --dark-background-color: #2f303a;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
}
.list {
  list-style: none;
}
.link {
}

/* **Header** */

.logo {
  color: #000000;
  font-weight: 700;
}
.logo-alt {
  color: var(--alt-text-color);
}
.head-navigation .link {
  color: var(--tittle-text-color);
}
.head-contacts .link {
  color: var(--text-color);
}
.head .link:focus,
.head .link:hover {
  color: var(--alt-text-color);
}

/* ** Main ** */
.section-title,
.title {
  color: var(--tittle-text-color);
}

/* HERO */

.hero {
  background-color: var(--dark-background-color);
}
.hero-title {
  color: #ffffff;
  font-weight: 900;
}
.hero-button {
  color: #ffffff;
  background: var(--alt-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* .hero-button:focus,
.hero-button:hover {
  color: var(--tittle-text-color);
  background: var(--alt-background-color);
} */

/* Features */

/* Team */
.team {
  background-color: var(--alt-background-color);
}

/* ** Portfolio Main ** */

.examples-button {
  color: var(--tittle-text-color);
  background: var(--alt-background-color);
  border-radius: 4px;
  border: none;
}
.examples-button:hover,
.examples-button:focus {
  color: var(--background-color);
  background: var(--alt-text-color);
}

/* ** Footer ** */
.down {
  background-color: var(--dark-background-color);
}
.down .logo {
  color: #ffffff;
}
.address-links .link {
  color: rgba(255, 255, 255, 0.6);
}
.address-links .link:hover,
.address-links .link:focus {
  color: #ffffff;
}
